# Environment
STREAMLIT_ENV=NON_PROD

# Snowflake
SNOWFLAKE_ACCOUNT="GXHRUQB-LG41978"
SNOWFLAKE_ROLE="FR_STREAMLIT_CREATOR"
SNOWFLAKE_WAREHOUSE="WH_STREAMLIT"
SNOWFLAKE_DATABASE="DB_STREAMLIT_APPS"
SNOWFLAKE_SCHEMA="FINANCE"

# Optional for local username/password authentication.
# Do not commit actual credentials.
